@import url(reset.css);

body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
  }

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 459px;
    background-image: url("../images/header-backgroung.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-content {
    display: flex;
    flex-direction: column;
    width: 757px;
    align-items: center;
}

.header-content>h1 {
    width: 313px;
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 56px;
    text-align: center;
    margin: 0%;
}

.header-content>p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-align: center;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

#button1 {
    width: 205px;
    height: 44px;
    border-radius: 28px;
    background-color: white;
    border: none;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

#button2 {
    width: 281px;
    height: 44px;
    border-radius: 28px;
    background-color: #23272A;
    border: none;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

section {
    margin-top: 32px;
}

.section-1, .section-2, .section-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.section-1 {
    height: 394px;
}

.section-1>img {
    width: 607px;
    height: 394px;
}

.section-1-text, .section-2-text, .section-3-text {
    font-family: "Open Sans", sans-serif;
    color: #23272A;
    text-align: start;
}

h2 {
    font-weight: 800;
    font-size: 40px;
}

.section-1-text {
    width: 348px;
}

.section-1-text>h2 {
    width: 329px;
}

.section-2 {
    height: 448px;
    gap: 16px;
}

.section-2-text {
    width: 351px;
    height: 212px;
}

.section-2-text>h2 {
    width: 329px;
    height: 108px;
    margin: 0%;
}

.section-2-text>p {
    width: 348px;
    height: 88px;
}

.section-2>img {
    width: 607px;
    height: 394px;
}